{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Все заказы: {% if current_user.status == 'worker' %} (<a href="{{ url_for('workers_replies', order_id=0) }}">Мои отклики</a>) {% endif %}</h2>
            {% for order in orders %}
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-primary text-white">
                    Заказ "{{ order.title }}"
                </div>
                <div class="card-body">
                    <p class="card-text">Описание: {{ order.descr }}</p>
                    <p class="card-text">Цена: {{ order.price }}<i class="fas fa-ruble-sign"></i></p>
                    {% if current_user.status == 'worker' %}
                        <a href="{{ url_for('add_reply', order_id=order.id) }}" class="btn btn-primary">Оставить отклик</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
