{% extends "base.html" %}
{% block content %}
        <h1>{{ user.surname }} {{ user.name }}</h1>
        <p><a href="mailto:{{ user.email }}">Электронная почта: {{ user.email }}</a></p>
        <p>{% if user.status == "admin" %}Администратор{% elif user.status == "worker" %}Исполнитель{% elif user.status == "hirer" %}Заказчик{% endif %}</p>
        {% if user.status == "hirer" %}
            <h2>Мои заказы</h2>
            <ul>
                {% for order in orders %}
                    <li>
                        <strong>Заказ "{{ order.title }}"</strong>: <a href="{{ url_for('workers_replies', order_id=order.id) }}">Отклики</a>
                    </li>
                {% endfor %}
            </ul>
        {% elif user.status == "worker" %}
            <h2>Мои отклики</h2>
            <ul>
                {% for reply in replies %}
                    <li>
                        <a href="{{ url_for('reply_form', reply_id=reply.id) }}"><strong>Отклик "{{ reply.title }}"</strong>: {{ reply.content }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
{% endblock %}
