{% extends "base.html" %}
{% block content %}
        <h1>{{ user.surname }} {{ user.name }}</h1>
        <p>Электронная почта: {{ user.email }}</p>
        <p>{% if current_user.status == "admin" %}Администратор{% elif current_user.status == "worker" %}Исполнитель{% elif current_user.status == "hirer" %}Заказчик{% endif %}</p>
        {% if user.status == "hirer" %}
            <h2>Мои заказы</h2>
            <ul>
                {% for order in orders %}
                    <li>
                        <strong>Заказ "{{ order.title }}"</strong>: {{ order.description }}
                    </li>
                {% endfor %}
            </ul>
        {% elif user.status == "worker" %}
            <h2>Мои отклики</h2>
            <ul>
                {% for reply in replies %}
                    <li>
                        <strong>Отклик "{{ reply.title }}"</strong>: {{ reply.content }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
{% endblock %}
